gspread
pandas
matplotlib
seaborn
openpyxl
reportlab
oauth2client
openai
gspread_dataframe
google-auth-httplib2>=0.2.0
google-api-python-client>=2.145.0
google-auth>=2.34.0
requests
beautifulsoup4
feedparser
